body {

  background-color:rgb(255, 223, 228);

}

.heading {
  width:80%;
  font-size:22px;
}



#captureimg {

width:350px;
height: 300px;
border-radius:20px;

}

#camera {
  border-radius:20px;
}